# Database Configuration
DATABASE_URL=postgresql://user:password@host:port/database

# Firebase Cloud Messaging Service Account (Stringified JSON)
FIREBASE_SERVICE_ACCOUNT=

# Development or Production mode
NODE_ENV=development
